<%- include('partials/header') %>

<div>
    <div class="container mt-5">
        <h1>Map</h1>
        <div id="map"></div>
    </div>
    <img class="rounded float-left img-fluid" src="https://leafletjs.com/examples/quick-start/thumbnail.png" alt="map">
    <img src="https://get.foundation/building-blocks/assets/img/building-block/mobile-app-message-bar/mobile-app-message-bar.png" class="rounded float-right position-absolute" alt="...">
    <!-- <img src="https://cdn-icons-png.flaticon.com/128/561/561127.png" class="rounded float-right" alt="..."> -->

</div>

<%- include('partials/footer') %>
