<%- include('partials/header') %>

<div class="container">
  <div class="jumbotron centered">
    <div> 
      <svg width="390" height="301" viewBox="0 0 390 301" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M198.587 261.714C263.136 261.714 315.463 209.474 315.463 145.032C315.463 80.5901 263.136 28.3497 198.587 28.3497C134.038 28.3497 81.7109 80.5901 81.7109 145.032C81.7109 209.474 134.038 261.714 198.587 261.714Z" fill="#DBC1DD"/>
        <path d="M198.587 261.714C263.136 261.714 315.463 209.474 315.463 145.032C315.463 80.5901 263.136 28.3497 198.587 28.3497C134.038 28.3497 81.7109 80.5901 81.7109 145.032C81.7109 209.474 134.038 261.714 198.587 261.714Z" fill="#DBC1DD"/>
        <path d="M218.335 215.056C213.885 215.586 206.973 214.117 203.282 209.181C196.951 200.709 196.214 194.764 206.635 171.233C214.474 153.535 210.764 130.824 208.62 121.236C207.61 116.721 207.314 112.078 207.738 107.471C208.428 99.9906 210.521 89.62 216.613 83.0259C229.03 69.584 249.024 72.0505 259.763 96.2615C270.5 120.473 255.099 153.41 255.099 153.41C255.099 153.41 244.582 184.048 238.731 194.34C233.927 202.788 228.997 213.791 218.335 215.056Z" fill="#A478B5" stroke="#A478B5" stroke-width="3" stroke-miterlimit="10"/>
        <path d="M261.496 175.505L198.069 154.6L193.496 168.428L256.923 189.333L261.496 175.505Z" fill="#DBC1DD"/>
        <path d="M178.839 215.056C183.289 215.586 190.201 214.117 193.891 209.181C200.223 200.709 200.96 194.764 190.539 171.233C182.7 153.535 186.41 130.824 188.554 121.236C189.564 116.721 189.86 112.078 189.436 107.471C188.746 99.9906 186.653 89.62 180.561 83.0259C168.144 69.584 148.15 72.0505 137.41 96.2615C126.671 120.473 142.075 153.41 142.075 153.41C142.075 153.41 152.592 184.048 158.443 194.34C163.247 202.788 168.177 213.791 178.839 215.056Z" fill="#F5E6F1" stroke="#F5E6F1" stroke-width="3" stroke-miterlimit="10"/>
        <path d="M140.252 189.329L203.679 168.424L199.106 154.596L135.679 175.501L140.252 189.329Z" fill="#DBC1DD"/>
        <path d="M198.38 153.24C198.38 153.24 189.224 130.531 174.855 137.769C160.486 145.007 166.488 160.051 172.013 166.439C182.002 177.986 200.577 194.766 198.808 193.71L198.38 153.24Z" fill="#DBC1DD"/>
        <path d="M198.417 153.24C198.417 153.24 207.573 130.531 221.942 137.769C236.311 145.007 230.309 160.051 224.784 166.439C214.795 177.986 197.043 194.766 198.813 193.71L198.417 153.24Z" fill="#DBC1DD"/>
        </svg>
    </div>
    <!-- <i class="fas fa-key fa-6x"></i> -->
    <h1 class="display-3">message</h1>
    <p class="secret-text">send message or ask anything</p>

    <form action="/submit" method="POST">

      <div class="form-group">
        <input type="text" class="form-control text-center" name="secret" placeholder="What's your secret message?">
      </div>
      <button type="submit" class="btn btn-dark">Submit</button>
    </form>


  </div>
</div>
<%- include('partials/footer') %>
